<connectionStrings>
  <add name="Food4FunModelContainer" connectionString="metadata=res://*/EntityModel.Food4FunModel.csdl|res://*/EntityModel.Food4FunModel.ssdl|res://*/EntityModel.Food4FunModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SERVER1;initial catalog=Food4Fun;persist security info=True;user id=user;password=102010;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>
